{% load static %}
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>base</title>
<link href="{% static 'main.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
<div id="wrapper">
    <header id="header">
        <div id="logo"><img src="{% static 'logo.jpg' %}" alt=""/></div>
            <span style="float: right;">
                {% if user.is_authenticated %}
                    Hi {{ user.username }}!
                    <p><a href="{% url 'logout' %}?next=/">logout</a></p>
                {% else %}
                    <p>You are not logged in</p>
                    <a href="{% url 'login' %}?next=/">login</a>
                {% endif %}
            </span>
        <div id="topbanner"><img src="{% static 'banner.jpg' %}" width="800" height="300" alt=""/></div>
    </header>
    <aside id="leftsidebar">
        <nav id="nav">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="{% url 'index' %}">MQTT</a></li>
                <li><a href="{% url 'shed' %}">Shed</a></li>
                <li><a href="{% url 'tenMin' %}">Carport</a></li>
            </ul>
        </nav>
    </aside>
    <section id="main">
        {% block content %}
        <h1>Welcome!</h1>
        <p>This is the basecamp template</p>
        {% endblock content %}
    </section>
    <footer id="footer">Copyright &copy; 2019 lgc productions</footer>
</div>
</body>
</html>
